@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    /*background-image: url(../img/fondo_recetas.jpg);*/
    background-image: radial-gradient(circle at 50% -20.71%, #ffdcf4 0, #ffd3f3 12.5%, #ffc9f2 25%, #ffbff2 37.5%, #f2b5f2 50%, #e2acf3 62.5%, #d0a4f4 75%, #bc9ff6 87.5%, #a69bf8 100%);
    background-repeat: no-repeat;
    margin-top: 0 auto;
    margin-bottom: none;
}
/*Menu de navegacion*/
.colorenlacebarra{
    color: black !important;
}

.navbar_style {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #0BB3D9;
}
.navbar{
    font-size: 20px;
    background:rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}
.navbar ul li a:hover{
        transform:translateY(-3px);
        color: black;
        justify-content: center;
}

.dropdown-menu{ 
    background:rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


/*Fin estilo de navegacion*/
/*.col{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 50px;   
}

.col .card__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}*/

/*Estilo de productos*/
.figure{
    text-align: center;
}
.figure-caption{
    color: black;
    font-size: 25px;

}

.figure{
    margin: 50px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(15, 15, 15, 0.586);
    cursor: default;
    transition: all 400ms ease;   
}
.figure:hover{
    transform: translateY(-3%);
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(15, 15, 15, 0.7);
}
.figure img{
    width: 400px;
    height: 300px;
}
/*Fin estilo de productos*/

/*Estilo de fuentes*/
h2, h3,h4, h5{
    font-family: 'Lobster', cursive;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}


.title{
    font-size: 50px;
    text-decoration:underline;
}

.ingredientes li{
    flex-direction: row;
    margin-left: 200px;
    
}
.preparacion li{
    flex-direction: row;
    margin-left: 200px;

}
.recom{
    flex-direction: row;
    margin-left: 200px;
    text-decoration: dashed;
}




/*Fin estilo de fuentes*/


/*Estilo de Recetas
.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card__father{
    margin: 20px;
    perspective: 1000px;
}
.card__father:hover .card{
    transform: rotateY(180deg);
}
.card{
    width: 360px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}
.card__front{
    background-size: cover;
    background-position: center;
}
.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 7px;
}
.card__back{
    transform: rotateY(180deg);
    /*background: rgba(209, 208, 207, 0.903);***
    background-image: linear-gradient(180deg, #ffc0a9 0, #ffb5a6 16.67%, #ffa9a2 33.33%, #f29d9d 50%, #de9297 66.67%, #cc8891 83.33%, #bb7f8b 100%);
}
.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 7px;
}

.body__card_back{
    padding: 20px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p{
    margin-top: 10px;
    font-size: 18px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 7px;
    transition: box-shadow 400ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}
/*Finaliza estilo de recetas
@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}*/

/*RECETAS*/

.ingredientes{
    list-style: disc;
}
.preparacion{
    list-style: decimal;
}
.recomendacion{
    margin: 0 auto;
}

.carousel-inner{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
.carousel-item img{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 50%;
    
}


/*Estilo de formulario*/
.form{
    width: 450px;
    margin: 0 auto;
    background: #8941af3f;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 7px;
}
input, textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#button{
    background: #1C1427;
    color: #fff;
    padding: 20px;
}
#button:hover{
    cursor: pointer;
}









/*Estilo de textos*/
.texto{
    background-color: #f4bfbfc9;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
    border-style: none;
}
.texto{
    margin: 0 auto;
    margin-top: 20px;
    width: 85%;
    max-width: 850px;
    font-size: 1.5;    
}
.textoText{
    background-color: #f4bfbfc9;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
    border-style: none;
}
.textoText{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5%;
    width: 85%;
    max-width: 850px;
    font-size: 1.5;
}
.location{
    margin-left: 37%;
    justify-content: center;
    align-items: center;
}
/*Finaliza estilo de textos*/

.card{ 
    position: absolute;
    max-width: 1200px;
    margin: auto;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap;
}
/*Estilo de footer*/
.footer_style{
    /*background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%); */
    background-color: rgb(50, 46, 46);
}

.footer_style a {
    margin: 2%;
    margin-bottom: 0;
}
.footer_style img:hover {
    transform:translateY(-3px) scale(1.05);
    box-shadow: rgba(15, 15, 15, 0.7);
    filter: none;
}

/*Fin estilo de footer*/

