//footer
.footer_style{
    background-color: rgb(50, 46, 46);
}

.footer_style a {
    margin: 3%;
    margin-top: 50px;
}


.footer_style img:hover {
    transform:translateY(-3px) scale(1.05);
    box-shadow: rgba(15, 15, 15, 0.7);
    filter: none;
}