//formulario

.form{
    width: 85%;
    margin: 0 auto;
    background: #8941af3f;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 7px;
}

input, textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
        textarea{   
            max-height: 95px;
            max-width: 85%;
        }
        #button{
            background: #1C1427;
            color: #fff;
            padding: 20px;
            &:hover{
                cursor: pointer;
            }
        }
}
.formTitle{
    font-family: 'lobster', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 25px;
    
}
.texto{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background-color:#8941af3f;
    width: 85%;
    max-width: 850px;
    font-size: 1.5; 
}

