 //menu de navegacion

 header{
    background-color: black;
    
}
.navbar{
    font-size: 20px;
    background:rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.nav-link{
    color: black;
    font-size: 20px;
}
.dropdown-menu{ 
    background:rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
