//nosotros

.nosotros{
    margin-top: 30px;
    font-family: 'lobster', cursive;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
   
}
.lorem-text{
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 5%;
    width: 85%;
    max-width: 850px;
    font-size: 1.5;
}
.location{
    margin-left: 37%;
    justify-content: center;
    align-items: center;
}
.card{
    position: absolute;
    max-width: 1200px;
    margin: auto;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap;
}
