@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: radial-gradient(circle at 50% -20.71%, #ffdcf4 0, #ffd3f3 12.5%, #ffc9f2 25%, #ffbff2 37.5%, #f2b5f2 50%, #e2acf3 62.5%, #d0a4f4 75%, #bc9ff6 87.5%, #a69bf8 100%);
    background-repeat: no-repeat;
    margin-top: 0 auto;
    margin-bottom: none;
}



//partials
@import "header";
@import "productos";
@import "recetas";
@import "formulario";
@import "nosotros";
@import "footer";


//variables-Colores
$bgcolor1:#f4bfbfc9;
$bgcolor2:black ;
$bgcolor3:#eeaeca;
$bgcolor4:#8941af3f ;
$bgcolor5:#94bbe9 ;
$bgcolor6:#ffbff2;
$bgcolor7:#bc9ff6;
$bgcolor8:#d0a4f4;
$bgcolor9:#fff ;

//variables-medidas
$width:200px;
$height:200px;
$size:20px;


//alineacion
$aling:center;
$margin: 0 auto;
$margint:50px;
$marginb:10px;

//mixins
@mixin ingredientes {
    background-color: $bgcolor8;
    line-height: 1.5;
    margin: $margin;
    width: 85%;
    max-width: 850px;
    font-size: 1rem;
    border-radius: 40px 0px 40px 0px;  
}
.ingredientes{
    @include ingredientes;
}

.preparacion{
    @extend .ingredientes;
    background-color: $bgcolor3
}


@mixin nosotros{
    background-color:$bgcolor8;;
    text-align: $aling;
    line-height: 1.5;
    margin: $margin;
    margin-bottom: 5%;
    width: 85%;
    max-width: 850px;
    font-size:18px;
    border-radius: 40px 0px 40px 0px; 
    
}

.about-us{
    @include nosotros;
}



@media screen and (max-width: 414px){
    .carousel-item img{
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }
    .tittle{
        font-size: 2rem;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .list_tittle{
        font-size: 1rem;
        text-align: center;
    }
}




























